source https://chocolatey.org/api/v2

nuget curl

source https://teamcity.unic.com/httpAuth/app/nuget/v1/FeedService.svc/ username: "%PAKET_USER%" password: "%PAKET_PASSWORD%" 
nuget Unic.Bob.Config
nuget Unic.Bob.Rubble
